<div id="page_wrapper">
  <div class="left-div">
    <div id="profile_image">
      <%= image_tag "cred.jpg" %>
  		<%= image_tag "a.jpg" %>
      <%= image_tag "home.jpg" %>
      <%= image_tag "de.jpg" %>
      <%= image_tag "holidays.jpg" %>
      
    </div> 
  </div>
  <div class="right-div">
    <div id="profile_image">
  		<%= image_tag "market.jpg" %>
      <%= image_tag "blu.jpg" %>
      <%= image_tag "banner.jpg" %>
  		<%= image_tag "sflw.jpg" %>
  		<%= image_tag "suite.jpg" %>  
    </div>      
  </div>
</div>